@use 'variables' as *;

/* Página Contacto */
/* Contacto - Div para centrar el form */
.containerform {
    width: 70%;
    margin-top: 20px;
    padding: 30px 10px 30px 10px;
    display: flex;
    justify-content: center;
    border: solid 2px $color1;
    border-radius: 8px;
}

/* Contacto - Botón de Enviar del Formulario */
input[type=submit] {
    @include theme ($theme: #f6eba2);
    border-width: 0.5px;
}

input[type=reset] {
    @include theme ($theme: #f6eba2);
    border-width: 0.5px;
    font-weight: normal;
    background-color: beige;
}

/* Fin Página Contactate */